:root {
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
}

$colors: (
	bg-dark: #042074,
	bg-light: #ffffff,
	nav: #03123d,
	nav-dark: #010c2b,
	primary: #00b38d,
	accent: #56ecc3,
	text: #ffffff,
	text-dark:#000000
);
$desktop: 60rem;

@function color($color-name) {
	@return map-get($colors, $color-name);
}
@mixin noMarginPadding {
	margin: 0;
	padding: 0;
}
@mixin flexCenter($direction) {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: $direction;
}
@mixin oneHundred() {
	width: 100%;
	height: 100%;
}

@mixin desktop {
	@media (min-width: #{$desktop}) {
		@content;
	}
}

body,
html {
	height: 100%;
}

body {
	@include noMarginPadding();
	color: color(text);
	background-color: color(bg-light);
}
#content {
	@include oneHundred();
}
.container-fluid {
	@include oneHundred();
	@include flexCenter(column);
	color: color(text);
	justify-content: flex-start;
}
.container {
	height: 85vh;
	display: flex;
	flex-direction: column;
}
.span-box {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	position: absolute;
	width: 20rem;
	height: 20rem;
}
.img-text {
	height: 7rem;
	width: 7rem;
	text-align: center;
	font-size: 1.2rem;
	font-weight: 800;
	border-radius: 50%;
	color: color(text-dark);
	background-color: color(bg-light);
	@include flexCenter(column);
}
img {
	width: 20rem;
	height: 20rem;
	border-radius: 50%;
}
.card {
	color: color(text-dark);
	text-align: right;
	line-height: 1.8;
	letter-spacing: 0.05rem;
	width: 80vw;
	&:last-of-type {
		padding-bottom: 5rem;
		@include desktop {
			padding-bottom: 1rem;
		}
	}
}

.triangle {
	@include oneHundred();
	clip-path: polygon(0 0, 100% 0, 100% 19%, 0 60%);
	background-color: color(bg-dark);
	position: absolute;
	z-index: -1;
	// @include desktop {
	// 	clip-path: polygon(0 0, 75% 0, 55% 100%, 0% 100%);
	// }
}

.navbar {
	bottom: 0;
	width: 100vw;
	height: 5rem;
	position: fixed;
	background-color: color(nav);
	transition: width 200ms ease;
	@include flexCenter(row);
	@include desktop {
		width: 5rem;
		height: 100vh;
	}
	&:hover {
		@include desktop {
			width: 12rem;
		}
	}
	&:hover .link-text {
		@include desktop {
			display: inline;
		}
	}
	&-nav {
		width: 100vw;
		list-style: none;
		@include noMarginPadding();
		@include flexCenter(row);
		@include desktop {
			height: 100%;
			justify-content: flex-start;
			flex-direction: column;
		}
	}
}

.nav {
	&-item {
		width: 100%;
		&:hover {
			background-color: color(nav-dark);
		}
	}
	&-link {
		height: 5rem;
		width: 100%;
		color: color(text);
		text-decoration: none;
		font-size: 1.5rem;
		@include flexCenter(row);
		@include desktop {
			width: 3.5rem;
			justify-content: flex-start;
			padding-left: 1.5rem;
		}
		&:hover {
			color: color(accent);
		}
	}
}
.link-text {
	display: none;
	margin-left: 1rem;
}
